<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #templateForm="ngForm" (ngSubmit)="saveTemplate()">
        <div class="modal-header">
          <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">New/Edit</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="code">Code:</label>
            <input [(ngModel)]="template.code" name="code" type="text" class="form-control" id="code" required>
          </div>
          <div class="form-group">
            <label for="body-text">Body Text:</label>
            <textarea [(ngModel)]="template.bodyText" name="bodyText" class="form-control" rows="5" id="body-text" required></textarea>
          </div>
          <div class="form-group">
            <label for="body-html">Body HTML:</label>
            <textarea [(ngModel)]="template.bodyHtml" name="bodyHtml" class="form-control" rows="5" id="body-html" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button  [disabled]="!templateForm.form.valid" type="button" class="btn btn-success" (click)="saveTemplate()">Save</button>
          <button type="button" class="btn btn-danger" (click)="modal.hide()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Text Content</th>
    <th class="text-xs-right"><button type="button" class="btn btn-success" (click)="addTemplate()">Add new</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let template of templates">
    <th scope="row">{{template.id}}</th>
    <td>{{template.code}}</td>
    <td><small>{{template.bodyText}}</small></td>
    <td class="text-xs-right">
      <button type="button" class="btn btn-primary" (click)="editTemplate(template.id)">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-info">Test</button>
    </td>
  </tr>
  </tbody>
</table>
