<table class="table table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <th>Text Content</th>
    <th class="text-xs-right"><button type="button" class="btn btn-success">Add new</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let template of templates">
    <th scope="row">{{template.id}}</th>
    <td>{{template.code}}</td>
    <td><small>{{template.bodyText}}</small></td>
    <td class="text-xs-right">
      <button type="button" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-info">Test</button>
    </td>
  </tr>
  </tbody>
</table>
